@import "../global.scss";

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;


    /* Media query Moviles */
    @media (max-width: 800px) {
        flex-direction: row;
        gap: 10px;
    }

    /* Media query PC */
    @media (min-width: 800px) {
        flex-direction: row;
        gap: 10%;
    }

    background-color: $ColorFondo2;
    border-bottom: $RadioBorde5 solid $ColorFondo3;

    padding: 20px 0;
}

.BotonMenu {
    font-family: $TextoNormal;
    font-size: $TextoTamañoSubencabezado;
    background-color: transparent;
    color: $ColorTexto1;
    border: none;

    transition: color 0.2s ease;

    &:hover {
        color: $ColorPrimario;
    }

    
}